<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.bme.aut.android.swipeajob">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwipeAJob">
        <activity android:name=".Activities.JobProvider.ChangeInfoJobProviderActivity"/>
        <activity android:name=".Activities.JobSearcher.ChangeInfoJobSearcherActivity" />
        <activity
            android:name=".Activities.JobProvider.JobSwiperActivityJobProvider"
            android:label="@string/title_activity_job_swiper_jobprovider"
            android:theme="@style/Theme.SwipeAJob.NoActionBar" />
        <activity
            android:name=".Activities.JobSearcher.JobSwiperActivityJobsearcher"
            android:label="@string/title_activity_job_swiper"
            android:theme="@style/Theme.SwipeAJob.NoActionBar" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>